In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer 
from sklearn.compose import ColumnTransformer

In [3]:
df=pd.read_csv('train.csv',usecols=['Age','SibSp','Fare','Survived'])

In [4]:
df.sample(10)

     Survived   Age  SibSp     Fare
710         1  24.0      0  49.5042
458         1  50.0      0  10.5000
404         0  20.0      0   8.6625
367         1   NaN      0   7.2292
635         1  28.0      0  13.0000
728         0  25.0      1  26.0000
886         0  27.0      0  13.0000
345         1  24.0      0  13.0000
447         1  34.0      0  26.5500
538         0   NaN      0  14.5000

# adding missing value  in data for cleaning

In [5]:
for i in range(0,5):
    print(i," ",end="")
    a=np.random.randint(0,891)
    df['Fare'].replace((df['Fare'][a]),np.nan,inplace=True)
    print(a)

0  388
1  494
2  531
3  680
4  400

C:\Users\ACER\AppData\Local\Temp\ipykernel_19272\1526764340.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].replace((df['Fare'][a]),np.nan,inplace=True)

In [6]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
SibSp       0.000000
Fare        0.087542
dtype: float64

In [7]:
df.shape

(891, 4)

In [10]:
x=df.drop(columns=['Survived'])

In [14]:
y=df['Survived']

In [15]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=34)

In [18]:
x_train.shape,x_test.shape

((712, 3), (179, 3))

In [21]:
x_train.isnull().mean()

Age      0.196629
SibSp    0.000000
Fare     0.082865
dtype: float64

In [22]:
x_test.isnull().mean()

Age      0.206704
SibSp    0.000000
Fare     0.106145
dtype: float64